[Unit]
Description=A lightweight Telegraf distribution customized for Ubiquiti's EdgeOS.
Documentation=https://github.com/x70b1/telegraf-edgeos
After=network.target

[Service]
EnvironmentFile=-/etc/default/telegraf
User=telegraf
ExecStart=/usr/bin/telegraf -config /etc/telegraf/telegraf.conf -config-directory /etc/telegraf/telegraf.d $TELEGRAF_OPTS
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
RestartForceExitStatus=SIGPIPE
KillMode=control-group
AmbientCapabilities=CAP_NET_RAW

[Install]
WantedBy=multi-user.target
