Maintainer: x70b1
Package: telegraf
Architecture: #ARCH
Depends: adduser, curl, jq
Version: #VERSION
Description: Plugin-driven server agent for reporting metrics into InfluxDB.
Installed-Size: #SIZE
Homepage: https://github.com/x70b1/telegraf-edgeos
